body {
	background-image: url('../images/bkg.jpg');
	background-repeat: repeat;
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	border-top: 2px solid #f84c00;
	border-bottom: 2px solid #f84c00;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool, .logo {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url(../images/hadouken.gif);
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 167px;
	left: -212px;
	float: left;
	z-index: 1;
}

.instructions {
	position: absolute;
	top: 150px;
	left: 650px;
	font-family: Arial, sans-serif;
}

li {
	margin: 10px 45px;
}

span {
	font-weight: bold;
}

.logo {
	background-image: url(../images/street-fighter-logo.jpg);
	width: 450px;
	height: 272px;
	margin-bottom: 50px;
}




